<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">Angular App</p>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="activated">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/student']" routerLinkActive="activated">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/speaker']" routerLinkActive="activated">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/event']" routerLinkActive="activated">Events</a>
      </li>
      <li class="nav-item btn-link">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="activated">Register</a>
      </li>
    </ul>
  </div>
</nav>
